<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
		<!-- 打印查询语句 -->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
        <!-- 别名-->
	<typeAliases>
		<typeAlias alias="UserModel" type="com.qqh.practice04.sys.model.UserModel" />
	</typeAliases>

	<mappers>
		<mapper resource="com/qqh/practice04/sys/mapper/UserMapper.xml" />
		<mapper resource="com/qqh/practice04/product/mapper/GoodsCateMapper.xml" />
		<mapper resource="com/qqh/practice04/product/mapper/GoodsInforMapper.xml" />
		<mapper resource="com/qqh/practice04/product/mapper/GoodsPicMapper.xml" />
		<mapper resource="com/qqh/practice04/order/mapper/OrderInforMapper.xml" />
		<mapper resource="com/qqh/practice04/order/mapper/OrderGoodsMapper.xml" />
		<mapper resource="com/qqh/practice04/order/mapper/ChinaMapper.xml" />
		<mapper resource="com/qqh/practice04/sys/mapper/CarMapper.xml" />
	</mappers>
</configuration>